{{outlet}}
<h1>Player Weights</h1>
{{#each model as |player|}}

<div class="well">
    <h4>{{id}}</h4>
    <small><li> {{player.wt}}</li>
     <li>{{player.TH}}</li>
     <li>{{player.time}}</li></small>
</div>
{{/each}}